<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/bookmarks/add' method='post'>
        <input type='text' id='url_submit' placeholder='Submit your url' name='url'><br>
        <input type='submit' name='submit_url' value='Add Bookmark'>
      </form>
    </section>
  </body>
</html>
