<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/bookmarks/add' method='get'>
        <button type='submit' style>Add Bookmark</button>
      </form>
      <form action='/bookmarks/view' method='get'>
        <button type='submit' style>View Bookmarks</button>
      </form>
    </section>
  </body>
</html>