<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/bookmarks/add' method='get'>
        <input type='submit' name='add' value='Add Bookmark' alt='Adding a Bookmark to database'/>
      </form>
      <form action='/bookmarks/view' method='get'>
        <input type='submit' name='view' value='View Bookmarks' alt='Viewing database'/>
      </form>
    </section>
  </body>
</html>