<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/view' method='get'>
        <ul>
        <% @bookmarks.each do |bookmark| %>
          <li>
            <a href="<%= bookmark.url %>">
              <%= bookmark.title %>
            </a>
          </li>
        <% end %>
        </ul>
      </form>
    </section>
  </body>
</html>