<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <section id='box'>
      <form action='/view_bookmarks' method='get'>
        <%= @bookmarks %>
      </form>
    </section>
  </body>
</html>